.postTile {
  margin: 35px 0;
}

.link {
  padding: 15px 35px;
  display: block;
  color: #000000;
  transition: box-shadow 200ms;
  will-change: box-shadow;

  &:hover {
    color: #000000;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  &:active {
    background-color: darken(#ffffff, 2%);
  }

  .titleImage {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .title {
    font-size: 1.5em;
    margin: 20px 0;
  }
}
