$primaryColor: #1c62be;

$theme-colors: (
  "primary": $primaryColor
);

$link-decoration: underline;
$link-hover-decoration: none;


#nprogress .bar {
  background: $primaryColor;
  z-index: 100000;
}
